fastapi
uvicorn[standard]
python-dotenv
python-multipart
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic
email-validator
openai
pyspellchecker
httpx
python-docx
reportlab
openai-whisper
